*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 88vh;
    padding: 200px 0;
    background: linear-gradient(#121212, #111);
    position: relative;
}
.header-content{
    display: flex;
    color: #fff;
    border: 1px solid #fff;
    padding: 50px 0;
    margin: auto;
    width: 50%;
    text-align: center;
}
.header-center h1{
    font-size: 50px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
}
.header-center p{
    font-size: 12px;
    font-style: italic;
}
.header-center{
    flex: 60%;
}
.header-left, .header-right{
    flex: 20%;
}
.header-left p, .header-right p{
    padding: 10px 0 0 0;
    font-size: 12px;
}

button, .link-button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
button:hover, .link-button:hover{
    border: 1px solid #fff;
    background: #fff;
    color: #000;
    transition: 1s;
}
.footer{
    min-height: 10vh;
    padding: 20px 0;
    background: #333;
    text-align: center;
}
.footer h3{
    font-size: 14px;
    font-weight: 600;
    color: #666;
}
.footer p{
    font-size: 12px;
    font-weight: 400;
    color: #666;
}

@media(max-width: 700px){
    .header-content{
        width: 80%;
    }
    .header-content h1{
        font-size: 30px;
    }
    .header-content p{
        font-size: 10px;
    }
}